@page "/gameslibrarylist"
@inject IViewGamesLibraryByNameUseCase ViewGamesLibraryByNameUseCase
<h3>GamesLibraryList</h3>

<br />
<SearchGamesLibraryComponent OnSearchGamesLibrary="OnGamesLibrarySearch"></SearchGamesLibraryComponent>
<br />
Output : @searchTerm
@code {
    private List<GamesLibrary> _games=new List<GamesLibrary>();

    protected override async Task OnInitializedAsync()
    {
        _games= (await ViewGamesLibraryByNameUseCase.ExecuteAsync("")).ToList();
    }

    private string searchTerm=string.Empty;
    private void OnGamesLibrarySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }
}
